<% dealers.forEach((item, i) => { %>        
<div class="card">
  <div class="card--body">
  <% if(item.data.name.length > 25) { %>
    <div class="card--title card--content">
     <h1 class="font--is-large"><%= item.data.name %></h1>
    </div>                          
  <% } else { %>
    <div class="card--title">
	   <h1 class="font--is-large"><%= item.data.name %></h1>
    </div>
 <% } %>
    <div class="card--content">  
        <div class="align-icon--phone">
          <div class="icon--circular">   
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13.063" viewBox="0 0 13 13.063" class="icon--phone">
              <defs>
                <style>
                  .cls-phone {
                    fill: #fff;
                  }
                </style>
              </defs>
              <path id="phone-icon" class="cls-phone" d="M14.336,16.586A9.937,9.937,0,0,1,12.5,15.113a9.409,9.409,0,0,1-1.446-1.852,0.449,0.449,0,0,1,.058-0.583l1.374-1.371a0.531,0.531,0,0,0,.174-0.379,0.6,0.6,0,0,0-.072-0.262L10.822,7.428A0.456,0.456,0,0,0,10.4,7.165a3.386,3.386,0,0,0-2.169.846,2.949,2.949,0,0,0-.81,1.735,5.746,5.746,0,0,0,.181,2.275,10.107,10.107,0,0,0,1.106,2.523,13.079,13.079,0,0,0,1.909,2.465,12.026,12.026,0,0,0,3.246,2.377,7.365,7.365,0,0,0,3.217.846,3.087,3.087,0,0,0,3.3-3,0.472,0.472,0,0,0-.26-0.437l-3.21-1.633-0.246-.088a0.452,0.452,0,0,0-.376.19l-1.374,1.254a0.43,0.43,0,0,1-.578.073h0Z" transform="translate(-13.375 -13.156)"/>
            </svg>
          </div>                      
          <p class="font--is-large mobile--cta">
           <strong><%= item.data.phone1.replace(/-/g, '.') %></strong>
          </p> 
        </div>
      <p class="card--padding font--is-small subtitle--color"><em>Can&#39;t talk now? Click below to send an email</em>
      </p>
      <a class="button" data-order="<%=i%>" data-id="<%=item.data.companyID%>">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="13" viewBox="0 0 15 13" class="add-margin">                  
          <image id="email-icon" width="15" height="13" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAANCAMAAABBwMRzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAw1BMVEUAAAAIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsIPYsAAADVsv7kAAAAP3RSTlMAfqfB3PD19Nq/pHTvlYNr+V1TM93VK1SPBRGvowsIm8UcAXD692Qjz+pEVR5Q/YkfIpNLc42pvMDQzruoi3EXpvPYAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+EKGgo7EqZE1nsAAAB9SURBVAjXY2BkYmZhZbO3t2dn5eDk4mawRwE8DLwofD4GBn4BOI9NkIFBiEFYBMoVFWMQZ7CXkJSSBnNlZOXkWYHmKSgqKavYq6oxqGvYg/j2mloM6to6DLo89hC+vZ6+gZKhEYjFimY/IT4Pg7GJqZm5haWllYW1ja2dFgCI2yQYes7wrwAAAABJRU5ErkJggg=="/>
        </svg>
        Contact this Pro
      </a>
    </div>
    <div class="card--content font--is-small">  
      <p><strong>Business Hours</strong></p>
      <p>Weekdays: <%=item.data.weekHours["mon"] %></p>
      <% for (var key in item.data.weekHours) { %>
       <% var converted = { mon: 'Monday', tue: 'Tuesday', wed: 'Wednesday', thurs: 'Thursday', fri: 'Friday', sat: 'Saturday', sun: 'Sunday'}; %>
       <% if(!item.data.weekHours[key]) { %> 
        <p><%= converted[key] %> : CLOSED </p>
       <% } else { %>
        <% if(key === 'sat' || key === 'sun' ) { %>   
        <p> <%= converted[key] %> : <%= item.data.weekHours[key] %> </p>
        <% } %>
        <% } %>
      <% } %>
    </div>  
  </div>
  <div class="card--footer">            
      <% item.data.certifications.forEach((arrayItem) => { %>
        <p class="font--is-small">
          <% if (arrayItem.toLowerCase().includes('installation')) { %>
          <svg xmlns="http://www.w3.org/2000/svg" width="12.281" height="12.313" viewBox="0 0 12.281 12.313">
            <defs>
              <style>
                .cls-icon {
                  fill: #bebebe;
                  fill-rule: evenodd;
                }
              </style>
            </defs>
            <path id="star-icon" class="cls-icon" d="M12.025,4.515A13.008,13.008,0,0,0,8.4,4.093,11.641,11.641,0,0,0,6.677.382,0.578,0.578,0,0,0,6.254.2a0.652,0.652,0,0,0-.435.179A11.913,11.913,0,0,0,4.1,4.093a13.006,13.006,0,0,0-3.621.422,0.539,0.539,0,0,0-.333.358,0.57,0.57,0,0,0,.038.512A11.762,11.762,0,0,0,2.864,8.277a23.525,23.525,0,0,0-.64,3.544,0.586,0.586,0,0,0,.282.563,0.556,0.556,0,0,0,.614.038q0.217-.128.7-0.358,1.727-.857,2.431-1.305,0.7,0.448,2.431,1.305,0.486,0.23.7,0.358a0.736,0.736,0,0,0,.282.064,0.63,0.63,0,0,0,.333-0.1,0.587,0.587,0,0,0,.281-0.563,23.554,23.554,0,0,0-.64-3.544A11.768,11.768,0,0,0,12.32,5.385a0.57,0.57,0,0,0,.038-0.512,0.579,0.579,0,0,0-.333-0.358h0Z" transform="translate(-0.125 -0.188)"/>
          </svg>
          <% } else if (arrayItem.toLowerCase().includes('service')) { %>
            <svg xmlns="http://www.w3.org/2000/svg" width="12.469" height="12.438" viewBox="0 0 12.469 12.438">
              <defs>
                <style>
                  .cls-1 {
                    fill: #bebebe;
                    fill-rule: evenodd;
                  }
                </style>
              </defs>
              <path id="gear-icon" class="cls-1" d="M12.753,5.869a0.611,0.611,0,0,0-.364-0.182q-0.351-.039-1.065-0.13A0.757,0.757,0,0,1,10.935,5.3a0.662,0.662,0,0,1-.156-0.435A0.59,0.59,0,0,1,10.9,4.506q0-.013.649-0.857a0.613,0.613,0,0,0,.13-0.383,0.578,0.578,0,0,0-.143-0.383,5.573,5.573,0,0,0-.844-0.844A0.578,0.578,0,0,0,10.305,1.9a0.612,0.612,0,0,0-.383.13l-0.844.649a0.8,0.8,0,0,1-.39.117A0.645,0.645,0,0,1,8.254,2.63a0.72,0.72,0,0,1-.24-0.409L7.884,1.182A0.611,0.611,0,0,0,7.7.818,0.621,0.621,0,0,0,7.325.636a5.519,5.519,0,0,0-1.195,0,0.621,0.621,0,0,0-.377.182,0.61,0.61,0,0,0-.182.364L5.442,2.221a0.648,0.648,0,0,1-.234.409,0.671,0.671,0,0,1-.441.162,0.735,0.735,0,0,1-.416-0.13L3.534,2.026A0.613,0.613,0,0,0,3.151,1.9a0.577,0.577,0,0,0-.383.143,5.561,5.561,0,0,0-.844.844,0.606,0.606,0,0,0-.149.383,0.548,0.548,0,0,0,.136.383L2.534,4.467a0.637,0.637,0,0,1,.143.4,0.673,0.673,0,0,1-.169.454,0.683,0.683,0,0,1-.429.234l-1.013.13a0.607,0.607,0,0,0-.377.188,0.574,0.574,0,0,0-.169.37,5.519,5.519,0,0,0,0,1.195A0.62,0.62,0,0,0,.7,7.817,0.61,0.61,0,0,0,1.067,8l1.013,0.13a0.631,0.631,0,0,1,.429.221,0.673,0.673,0,0,1,.169.454,0.654,0.654,0,0,1-.143.416l-0.623.818a0.611,0.611,0,0,0-.13.383,0.576,0.576,0,0,0,.143.383,5.555,5.555,0,0,0,.844.844,0.618,0.618,0,0,0,.39.143,0.538,0.538,0,0,0,.377-0.13l0.818-.636a0.737,0.737,0,0,1,.416-0.13,0.672,0.672,0,0,1,.441.162,0.649,0.649,0,0,1,.234.409q0,0.013.13,1.039a0.61,0.61,0,0,0,.182.364,0.619,0.619,0,0,0,.377.182q0.39,0.026.6,0.026t0.6-.026A0.62,0.62,0,0,0,7.7,12.868,0.611,0.611,0,0,0,7.884,12.5l0.13-1.039a0.721,0.721,0,0,1,.24-0.409,0.647,0.647,0,0,1,.435-0.162,0.631,0.631,0,0,1,.39.117l0.844,0.649a0.538,0.538,0,0,0,.377.13,0.554,0.554,0,0,0,.39-0.143,5.566,5.566,0,0,0,.844-0.844,0.577,0.577,0,0,0,.143-0.383,0.613,0.613,0,0,0-.13-0.383Q10.9,9.194,10.9,9.181A0.609,0.609,0,0,1,10.779,8.8a0.663,0.663,0,0,1,.156-0.435,0.688,0.688,0,0,1,.389-0.24L12.39,8a0.61,0.61,0,0,0,.364-0.182,0.621,0.621,0,0,0,.182-0.377,5.521,5.521,0,0,0,0-1.195A0.621,0.621,0,0,0,12.753,5.869Zm-8.142.974A2.106,2.106,0,0,1,6.728,4.727,2.106,2.106,0,0,1,8.845,6.843,2.106,2.106,0,0,1,6.728,8.96,2.106,2.106,0,0,1,4.611,6.843Z" transform="translate(-0.5 -0.625)"/>
            </svg>
          <% } else if (arrayItem.toLowerCase().includes('residential')) { %>
            <svg xmlns="http://www.w3.org/2000/svg" width="12.938" height="11.656" viewBox="0 0 12.938 11.656">
              <defs>
                <style>
                  .cls-1 {
                    fill: #bebebe;
                    fill-rule: evenodd;
                  }
                </style>
              </defs>
              <path id="home-icon" class="cls-1" d="M10.187,12.027a0.722,0.722,0,0,0,.344-0.2,0.546,0.546,0,0,0,.155-0.351l0.553-3.817h1.066a0.645,0.645,0,0,0,.648-0.647,0.665,0.665,0,0,0-.175-0.445,16.038,16.038,0,0,0-1.551-1.888V1.182A0.416,0.416,0,0,0,10.794.751H9.5a0.416,0.416,0,0,0-.432.432V2.6A22.991,22.991,0,0,0,6.842.859a0.582,0.582,0,0,0-.728,0L5.635,1.2Q5.3,1.439,4.569,2.032T3.126,3.273q-0.708.647-1.544,1.565A17.807,17.807,0,0,0,.125,6.645a0.589,0.589,0,0,0-.054.661,0.636,0.636,0,0,0,.58.351H1.717l0.54,3.817a0.625,0.625,0,0,0,.513.553,18.882,18.882,0,0,0,3.709.378,19.163,19.163,0,0,0,3.709-.378h0ZM7.773,10.678q-0.715.068-1.295,0.067t-1.295-.067a0.4,0.4,0,0,1-.378-0.4L4.7,8.547a0.467,0.467,0,0,1,.121-0.324,0.427,0.427,0,0,1,.31-0.135h2.7a0.427,0.427,0,0,1,.31.135,0.467,0.467,0,0,1,.121.324L8.151,10.274a0.4,0.4,0,0,1-.378.4h0Z" transform="translate(0 -0.75)"/>
            </svg>
          <% } else { %>
            <svg xmlns="http://www.w3.org/2000/svg" width="11.5" height="9.906" viewBox="0 0 11.5 9.906">
              <defs>
                <style>
                  .cls-1 {
                    fill: #bebebe;
                    fill-rule: evenodd;
                  }
                </style>
              </defs>
              <path id="people-icon" class="cls-1" d="M10.4,6.81a6.431,6.431,0,0,0-.636-0.288q-0.3-.12-0.432-0.18a2.026,2.026,0,0,1-.312-0.186A0.5,0.5,0,0,1,8.8,5.9a1.03,1.03,0,0,1,.276-0.792q1.177-1.825.4-3.11a2.147,2.147,0,0,0-.792-0.768A2.2,2.2,0,0,0,7.589.951a1.563,1.563,0,0,0-.835.2,2.638,2.638,0,0,0-.666.636,2.858,2.858,0,0,1,1.273,1.2,2.687,2.687,0,0,1,.366,1,3.666,3.666,0,0,1-.1,1.381,5.588,5.588,0,0,1-.756,1.717,1.6,1.6,0,0,1,.192.084,4.891,4.891,0,0,1,.78.348A4.113,4.113,0,0,1,9.45,9.284a12.1,12.1,0,0,0,2.065-.132A0.372,0.372,0,0,0,11.768,9a0.375,0.375,0,0,0,.048-0.288A2.877,2.877,0,0,0,10.4,6.81h0ZM8.07,10.737q0.336-.036.384-0.048a0.324,0.324,0,0,0,.252-0.156,0.34,0.34,0,0,0,.06-0.288,2.982,2.982,0,0,0-1.417-1.9,6.71,6.71,0,0,0-.636-0.288q-0.3-.12-0.432-0.18a2.027,2.027,0,0,1-.312-0.186,0.5,0.5,0,0,1-.216-0.258,1.056,1.056,0,0,1,.264-0.792q1.177-1.837.408-3.11a2.134,2.134,0,0,0-.8-0.768,2.229,2.229,0,0,0-1.1-.276,2.2,2.2,0,0,0-1.087.276,2.132,2.132,0,0,0-.8.768q-0.769,1.273.408,3.11a1.057,1.057,0,0,1,.264.792,0.5,0.5,0,0,1-.216.258,2.036,2.036,0,0,1-.312.186q-0.132.06-.432,0.18a6.688,6.688,0,0,0-.636.288,2.884,2.884,0,0,0-1.4,1.9,0.352,0.352,0,0,0,.048.288,0.323,0.323,0,0,0,.252.156Q0.661,10.7.991,10.737t1.3,0.072q0.973,0.036,2.233.036t2.233-.036Q7.733,10.773,8.07,10.737Z" transform="translate(-0.313 -0.938)"/>
            </svg>                      
          <% } %>           
          <%= arrayItem %> 
        </p>
    <% }); %>
  </div>
</div>
<% }); %>
